.bgImage{
    background-color: white;
    min-height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* border:3px;
    border-style: solid;
    border-color:#FCE205; */
}
.container{
    position: absolute;
    margin-top: 20px;
    width: 100%;
}
#topNavBar{
    /* border:3px;
    border-style: solid;
    border-color:#FCE205; */
    font-size: 20px;
    /* overflow: hidden; */
    background-color: transparent;
    
}
#topNavBar a:hover {
    background-color: maroon;
    color: black;
    text-decoration: none;
  }
ul{
    list-style-type: none;
    float: right;
}
.logo{
    vertical-align: middle;
    height:100px;
    width:100px;
}
a{
    text-decoration: none;
    color: black;
    display:inline;
    font-weight: bolder;
}
li {
    display: inline;
    padding-right: 30px;
}
.title{
    padding-right: 250px;
    font-size:50px;
    float: left;
} 


.footer{
    white-space: nowrap;
    display: inline-block;
}
.contact{
    height: 100px;
    width: 100px;
    /* border:3px;
    border-style: solid;
    border-color: #FCE205; */
}
.caption{
    
}
.loginLink{
    padding-right: 0px;
}

.navbar-brand{
    padding-right: 600px;
}
.nav-item{
    padding-right:30px;
}
.navbar-nav{
    background-color: transparent;
}
nav{
    width: 100%;
}
.card-img-top{
    height:300px;
}
.card{
    padding-right:40px;
}
.about{
    display: flex; 
}
.image img{
    flex: 0 0 65%;
    width:600px;
    height:600px;
    padding-right:40px;
}
.aboutUs{
    font-size: 30px;
    flex: 1;
}
