.container{
    /* position: absolute; */
    margin-top: 20px;
    width: 100%;
}
#topNavBar{
    /* border:3px;
    border-style: solid;
    border-color:#FCE205; */
    font-size: 20px;
    /* overflow: hidden; */
    background-color: transparent;
    display: inline;
    
}
#topNavBar a:hover {
    background-color: white;
    color: maroon;
  }
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}
li {
    font-family: 'Fugaz One', cursive;
    display: inline;
    padding-right: 15px;
    float: right;
}


  
.title{
    font-family: 'Monoton', cursive;
    padding-right: 300px;
    font-size:40px;
    float: left;
}
.container2{
    background-color: maroon;
    position: absolute;
    margin-top: 250px;
    opacity: 0.8;
    height: 300px;
    width: 550px;
    margin-right: 0px;
    padding-right: 0px;
}
.container3{
    /* border:3px;
    border-style: solid;
    border-color: #FCE205; */
    /* background-color: #290916; */
    /* position: absolute; */
    
    color: white;
    
}
.players{
    text-align: center;
    background-color: maroon;
    border-radius: 6px;
}
.players:hover{
    background-color: maroon;
    color: white;
}
.content{
    /* border:3px;
    border-style: solid;
    border-color: #FCE205; */
}
.footer{
    white-space: nowrap;
    display: inline-block;
}
.contact{
    height: 100px;
    width: 100px;
    /* border:3px;
    border-style: solid;
    border-color: #FCE205; */
}
.caption{
    
}
.loginLink{
    padding-right: 0px;
}
.card-img-top{
    height:200px;
    width:200px;
}
